In [ ]:
Moscow_Times='The Moscow Times - Wednesday, October 2, 2002'
Guardian='The Guardian - Friday, 11.10.13'
Daily_News='Daily News - Thursday, 18 August 1977'

In [ ]:
from datetime import datetime

##Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [ ]:
datetime.strptime('Wednesday, October 2, 2002','%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
datetime.strptime('Friday, 11.10.13','%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
datetime.strptime('Thursday, 18 August 1977','%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

##Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
def exam_date(date):
    from datetime import datetime
    format = '%Y-%m-%d'
      
    for line in date:
        try:
            datetime.strptime(line, format) == True
            res=True
        except ValueError:
            res = False
        print(line,res)

In [ ]:
exam_date(stream)

2018-04-02 True
2018-02-29 False
2018-19-02 False

##Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

In [ ]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [ ]:
def date_range(start_date,end_date):
    from datetime import timedelta
    from datetime import datetime
    spisok=[]
    try:
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

        while start_date_dt <= end_date_dt:
            spisok.append(start_date_dt.strftime('%Y-%m-%d'))
    
            start_date_dt += timedelta(days=1)
    except ValueError:
       print('Неверный формат даты, введите дату в формате "YYYY-MM-DD"')
    print(spisok)

In [ ]:
date_range('2018-01-01','2018-01-07')

['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07']